<section class="hero is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Animated SPLOMs
      </h1>

      <!-- super fancy subtitle -->
      <p class="subtitle">
        Using
        <!-- animated text -->
        <span class="has-text-weight-bold" id="animation"><span>a</span><span>n</span><span>i</span><span>m</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span></span>
        to alleviate overdraw in a
        <!-- multicolored text -->
        <span class="has-text-weight-bold" id="multiclass"><span>m</span><span>u</span><span>l</span><span>t</span><span>i</span><span>c</span><span>l</span><span>a</span><span>s</span><span>s</span></span>
        <!-- underlined text //-->
        <u class="has-text-weight-bold">s</u>catter<u class="has-text-weight-bold">plo</u>t <u class="has-text-weight-bold">m</u>atrix (<span class="has-text-weight-bold">SPLOM</span>).
      </p>

      <!-- github links -->
      <p class="has-text-centered">
        <a class="button is-small is-outlined" href="{{ site.repositories.website }}"><span class="icon"><i class="fa fa-github fa-lg"></i></span>&nbsp; Website Repository</a>

        <a class="button is-small is-outlined" href="{{ site.repositories.userstudy }}"><span class="icon"><i class="fa fa-github fa-lg"></i></span>&nbsp; User Study Repository</a>
      </p>
    </div>
  </div>
</section>
