<section class="hero is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Animated SPLOMs
      </h1>

      <!-- super fancy subtitle -->
      <p class="subtitle">
        Using <span class="is-lowercase">{% include tagline.html %}</span>(<span class="has-text-weight-bold">SPLOM</span>s).
      </p>

      <!-- github links -->
      <p class="has-text-centered">
        <a class="button is-small is-outlined" href="{{ site.repositories.website }}"><span class="icon"><i class="fa fa-github fa-lg"></i></span>&nbsp; Website Repository</a>

        <a class="button is-small is-outlined" href="{{ site.repositories.userstudy }}"><span class="icon"><i class="fa fa-github fa-lg"></i></span>&nbsp; User Study Repository</a>
      </p>
    </div>
  </div>
</section>
