<!-- animated text -->
<span class="has-text-weight-bold" id="animation"><span>A</span><span>n</span><span>i</span><span>m</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span></span>
to Alleviate Overdraw in
<!-- multicolored text -->
<span class="has-text-weight-bold" id="multiclass"><span>M</span><span>u</span><span>l</span><span>t</span><span>i</span><span>c</span><span>l</span><span>a</span><span>s</span><span>s</span></span>
<!-- underlined text //-->
<u class="has-text-weight-bold">S</u>catter<u class="has-text-weight-bold">plo</u>t <u class="has-text-weight-bold">M</u>atrices
